@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

.header-nav a {
  color: #fff;
  text-decoration: none;
}

.navbar-logo {
  margin-right: 40px;
  font-size: 1.1em;
}

.navbar-logo::first-letter {
  color: blue;
  font-size: 1.1em;
  font-family: "Itim", cursive;
}

.navbar-nav a {
  margin-right: 40px;
}

.auth-card {
  width: 600px;
  padding: 10px;
}

.type-item,
.brand-card {
  cursor: pointer;
}

.brand-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.brand-card {
  text-align: center;
}

.device-item-card {
  width: 150px;
  cursor: pointer;
}

.device-item-star {
  font-size: 0.8em;
}

.device-item-link {
  text-decoration: none;
  display: block;
  color: #000;
}

.device-item-link:hover {
  color: #000;
}

.device-page-img {
  width: 300px;
  height: 300px;
}

.device-page-container h2 {
  font-size: 2.5em;
}

.device-page-info {
  height: 100%;
}

.device-page-container h3 {
  font-size: 1.5em;
}

.device-page-container h3 span {
  font-size: 0.8em;
}

.device-page-container h4 {
  font-size: 1em;
}

.device-page-container h4 button {
  display: inline;
  border: none;
  background: transparent;
  font-weight: bold;
  color: orangered;
  text-decoration: underline;
}

.device-card {
  width: 300px;
  height: 300px;
}

.device-page-container h4 button:hover {
  text-decoration: none;
}

.device-page-price-basket {
  height: 100%;
  width: 100%;
}

.device-page-price-basket .tmp {
  margin-bottom: auto;
}

.device-page-price-basket button {
  margin-top: auto;
  width: 100%;
  background: orangered;
  border: none;
}

.device-page-price-basket button:hover {
  background: rgb(211, 63, 9);
}

.device-page-price-basket h3 {
  color: green;
}

.description-list div:nth-child(even) {
  background: lightgray;
}

.description-list div {
  padding: 10px;
}

.loader-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.fan-loader {
  background-color: #ff6d00;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 90px;
  position: relative;
  transform-origin: center;
  animation: spin 0.5s linear infinite;
}

.fan-loader::before {
  content: "";
  position: absolute;
  background-color: rgb(202, 15, 15);
  height: 80px;
  width: 40px;
  border-radius: 50% 50% 50% 50% / 85% 85% 15% 15%;
  top: 36px;
}

.fan-loader::after {
  content: "";
  position: absolute;
  background-color: rgb(202, 15, 15);
  height: 80px;
  width: 40px;
  border-radius: 50% 50% 50% 50% / 15% 15% 85% 85%;
  top: -82px;
}

.email-tooltip-container {
  background: rgba(255, 68, 0, 0.8);
  color: #fff;
}

.email-tooltip-container svg {
  cursor: pointer;
}

.rate-button {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(255, 68, 0);
}

.rate-button:hover {
  border-bottom: 2px solid rgb(255, 68, 0);
}

.device-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mobile-brandbar,
.mobile-typebar {
  display: none;
}

.basket-container {
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basket-container a {
  width: 90%;
}

.pc-button {
  height: 50%;
}

.basket-container .mobile-button {
  display: none;
}

.mobile-wrapper {
  margin-bottom: 2rem;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(180deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 800px) {
  .pc-button {
    display: none;
  }

  .basket-container {
    width: 100%;
  }

  .basket-container,
  .basket-container div,
  .basket-container a {
    width: 100%;
  }

  .basket-container .mobile-button {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .brand-row {
    display: none;
  }

  .mobile-brandbar {
    display: block;
    margin-top: 10px;
  }

  .type-list {
    display: none;
  }

  .mobile-typebar {
    display: block;
  }

  .device-list {
    justify-content: center;
  }
}
